@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ptt__dark: #222;
    --ptt__light: #fff;
    --ptt__font-family: 'Poppins', 'Inter', sans-serif;
    --ptt__font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

body {
    background-color: var(--ptt__dark);
    color: var(--ptt__light);
    font-family: var(--ptt__font-family);
    font-size: var(--ptt__font-size);
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
}

.ptt__container {
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
}

.ptt__header,
.ptt__main,
.ptt__footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.ptt__header {
    height: auto;
    max-height: 15vh;
}

.ptt__main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
}

.ptt__footer {
    height: auto;
    max-height: 10vh;
}

.ptt__navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.ptt__navbar-link {
    text-decoration: none;
}

.ptt__navbar-link:hover {
    text-decoration: underline;
}

.ptt__title {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .3rem;
    margin: 0 0 .5rem 0;
}

.ptt__sup {
    position: absolute;
    top: -1rem;
    width: max-content;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: normal;
}

.ptt__subtitle {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .1rem;
}

.ptt__button {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    background-color: rgba(74, 20, 140);
    border: 2px solid rgba(255, 255, 255, .1);
    cursor: pointer;
    appearance: none;
    outline: none;
}

.ptt__button:hover,
.ptt__button:focus {
    background-color: rgba(104, 29, 194);
    border: 2px solid rgb(132, 53, 231);
}

.ptt__table {
    text-align: left;
}

table, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 1rem;
}